---
import Layout from "@/layouts/Layout.astro";
import { changeLanguage, setDefaultNamespace } from "i18next";

changeLanguage("br");

setDefaultNamespace("about");
---

<Layout title="About | Windows Update Reset Tool">
  <main></main>
</Layout>
