---
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="Reset Windows Update Tool | Troubleshooting for Windows Update | Repair System Files, Registry, and Winsock"
>
  <main class="pt-16">
    <div class="bg-gray-extralight">
      <div
        class="mx-auto grid max-w-screen-xl grid-rows-2 items-center justify-center gap-4 px-6 py-10 md:grid-cols-2 md:grid-rows-1 lg:gap-32"
      >
        <img
          src="/assets/images/logo.png"
          loading="lazy"
          alt="Logo Reset Windows Update Tool"
          height="300"
          width="300"
          class="mx-auto h-auto min-w-[200px] lg:justify-self-end"
        />

        <div class="grid justify-center text-center lg:justify-self-start">
          <h1 class="text-4xl font-bold text-indigo-main">
            Reset Windows Update Tool
          </h1>

          <p class="my-4 text-xl text-gray-main">
            Troubleshooting for Windows Update.
          </p>

          <div class="flex justify-center gap-4">
            <a
              href="/downloads"
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex items-center rounded-md border-2 border-solid border-blue-main/0 bg-indigo-main fill-white p-4 font-bold text-white transition-colors duration-500 hover:border-indigo-main hover:bg-indigo-light hover:fill-indigo-main hover:text-indigo-main"
            >
              <span class="mr-2">Download</span>
              <svg
                style={{ fill: 'inherit' }}
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 0 24 24"
                width="24"
              >
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM17 13l-5 5-5-5h3V9h4v4h3z"
                ></path>
              </svg>
            </a>

            <a
              href="https://docs.wureset.com/donate/"
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex items-center rounded-md border-2 border-solid border-blue-main/0 bg-blue-main fill-white p-4 font-bold text-white transition-colors duration-500 hover:border-blue-main hover:bg-blue-light hover:fill-blue-main hover:text-blue-main"
            >
              <span class="mr-2">Donate</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                fill="inherit"
              >
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="mx-auto my-0 flex max-w-screen-xl flex-wrap justify-start gap-10 px-6 py-10 lg:justify-center"
    >
      <div class="mr-6 w-full lg:max-w-[50ch]">
        <h2 class="text-3xl font-bold text-blue-main">
          The Power of the Command Line
        </h2>

        <p class="mt-4 text-black">
          This free and open source tool implements functions through command
          line.
        </p>
        <p class="mt-4 text-black">
          It's able to delete temporary files, scan, detect and repair
          corruptions with the Windows System image, scan all protected system
          files and replace any corrupted files, change invalid values in the
          Windows Registry, reset Winsock settings and more.
        </p>
        <p class="mt-4 text-black">
          This is a complete troubleshooting tool that can be generated with
          Windows updates.
        </p>
      </div>

      <div class="w-full max-w-sm">
        <h2 class="mb-4 text-3xl font-bold text-blue-main">Releases</h2>
        <ul class="list-none">
          <li class="mt-2">
            <a
              href="https://github.com/ManuelGil/Reset-Windows-Update-Tool/releases/download/v11.1.0/Portable.zip"
              target="_blank"
              rel="noopener noreferrer"
              class="text-blue-main visited:text-purple hover:underline"
            >
              wureset
            </a>
            <small class="text-xs text-gray-light">(2023-04-05)</small>
          </li>
          <li class="mt-2">
            <a
              href="https://github.com/wureset-tools/script-wureset/archive/refs/tags/v10.5.5.zip"
              target="_blank"
              rel="noopener noreferrer"
              class="text-blue-main visited:text-purple hover:underline"
              >script wureset</a
            >
            <small class="text-xs text-gray-light">(2023-03-24)</small>
          </li>
          <li class="mt-2">
            <a
              href="https://github.com/wureset-tools/script-wureset-lite/archive/refs/tags/v1.0.0.zip"
              target="_blank"
              rel="noopener noreferrer"
              class="text-blue-main visited:text-purple hover:underline"
              >script wureset lite</a
            >
            <small class="text-xs text-gray-light">(2023-03-20)</small>
          </li>
          <li class="mt-2">
            <a
              href="https://github.com/wureset-tools/reset-wsus-client-id/archive/refs/tags/v1.0.2.zip"
              target="_blank"
              rel="noopener noreferrer"
              class="text-blue-main visited:text-purple hover:underline"
              >reset wsus client id</a
            >
            <small class="text-xs text-gray-light">(2023-03-20)</small>
          </li>
        </ul>
      </div>
    </div>
  </main>
</Layout>
