---
import Github from './icons/Github.astro';
import Twitter from './icons/Twitter.astro';
---

<footer class="bg-black text-white px-4 py-10">
  <div
    class="container grid sm:grid-cols-2 sm:grid-rows-[1fr_0.1fr_0.5fr] max-w-7xl mx-auto gap-4"
  >
    <div class="links">
      <h3 class="font-bold text-3xl mb-4">Social</h3>
      <div class="flex gap-4 flex-wrap">
        <a
          class="fill-white transition-colors hover:fill-purple"
          href="https://twitter.com/wureset"
        >
          <Twitter />
        </a>
        <a
          class="fill-white transition-colors hover:fill-purple"
          href="https://github.com/wureset-tools"
        >
          <Github />
        </a>
      </div>
    </div>
    <div class="copyright">
      <h3 class="font-bold text-3xl">Services</h3>
      <ul class="text-lg">
        <li>
          <a
            class="underline hover:text-purple transition-colors duration-300"
            href="https://docs.wureset.com/">Docs</a
          >
        </li>
        <li>
          <a
            class="underline hover:text-purple transition-colors duration-300"
            href="https://wureset.online/">Status</a
          >
        </li>
      </ul>
    </div>
    <div class="divider w-full rounded-md bg-white h-1 sm:col-span-2"></div>
    <p>
      Made with <span class="text-purple"> ♥</span> by <a
        class="underline hover:text-purple transition-colors duration-300"
        href="https://github.com/ManuelGil"
      >
        Manuel Gil</a
      >
    </p>
    <a
      href="/cookies-policy"
      class="underline hover:text-purple transition-colors duration-300"
      >Cookies Policy</a
    >
  </div>
</footer>
