---
import Github from './icons/Github.astro';
---

<footer class="bg-black px-4 py-10 text-white">
  <div
    class="container mx-auto grid max-w-7xl gap-4 sm:grid-cols-2 sm:grid-rows-[1fr_0.1fr_0.5fr]"
  >
    <div class="links">
      <h3 class="mb-4 text-3xl font-bold">Social</h3>
      <div class="flex flex-wrap gap-4">
        <!-- <a
          class="fill-white transition-colors hover:fill-purple"
          href="https://twitter.com/wureset"
        >
          <Twitter />
        </a> -->
        <a
          class="fill-white transition-colors hover:fill-purple"
          href="https://github.com/wureset-tools"
        >
          <Github />
        </a>
      </div>
    </div>
    <div class="copyright">
      <h3 class="text-3xl font-bold">Services</h3>
      <ul class="text-lg">
        <li>
          <a
            class="underline transition-colors duration-300 hover:text-purple"
            href="https://docs.wureset.com/">Docs</a
          >
        </li>
        <li>
          <a
            class="underline transition-colors duration-300 hover:text-purple"
            href="https://status.wureset.com/">Status</a
          >
        </li>
      </ul>
    </div>
    <div class="divider h-1 w-full rounded-md bg-white sm:col-span-2"></div>
    <p>
      Made with <span class="text-purple"> ♥</span> by <a
        class="underline transition-colors duration-300 hover:text-purple"
        href="https://github.com/ManuelGil"
      >
        Manuel Gil</a
      >
    </p>
    <a
      href="/cookies-policy"
      class="underline transition-colors duration-300 hover:text-purple"
      >Cookies Policy</a
    >
  </div>
</footer>
