---
import { localizePath } from 'astro-i18next';
import { t } from 'i18next';

import HamburgerMenu from './icons/Hamburger-menu.astro';
import { ActionButtons } from './react';
import { paths } from './react/Utils';
---

<header class="bg-indigo-main h-16 w-full fixed md:flex md:items-center">
  <div class="container max-w-7xl relative mx-auto">
    <div class="pl-4 md:hidden cursor-pointer z-20" id="btn-ham">
      <HamburgerMenu />
    </div>
    <nav
      class="hidden h-screen md:h-full md:flex absolute inset-0 md:static top-12 w-screen md:w-fit md:mx-4 bg-indigo-main animate-fade-out md:animate-none"
      id="primary-nav"
    >
      <ul
        class="flex flex-col md:h-full md:flex-row items-center text-white font-bold mt-16 md:mt-0 md:gap-0"
      >
        {
          paths.map((path) => (
            <li>
              <a
                href={localizePath(path.route)}
                class="px-4 py-4  w-screen md:py-[1.2rem] md:w-full text-4xl md:text-base  hover:bg-indigo-light block transition-colors hover:text-indigo-main duration-500"
              >
                {t('navbar.' + path.name)}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div class="absolute top-[36px] right-4">
      <ActionButtons client:only="react" />
    </div>
  </div>
</header>

<script>
  const hamburgerBtn = document.getElementById('btn-ham') as HTMLDivElement;
  const primaryNav = document.getElementById('primary-nav') as HTMLDivElement;

  hamburgerBtn?.addEventListener('click', () => {
    if (primaryNav?.classList.contains('hidden')) {
      primaryNav?.classList.toggle('hidden');
    } else {
      setTimeout(() => {
        primaryNav?.classList.toggle('hidden');
      }, 500);
    }

    primaryNav?.classList.toggle('animate-fade-in');
    primaryNav?.classList.toggle('animate-fade-out');
  });
</script>
