---
import Downloadcard from "@/components/Downloadcard.astro";
import Layout from "@/layouts/Layout.astro";
import { changeLanguage, setDefaultNamespace, t } from "i18next";

changeLanguage("es");

setDefaultNamespace("downloads");
---

<Layout title="Downloads | Windows Update Reset Tool">
  <main class="max-w-screen-xl my-0 mx-auto p-6 pt-16">
    <div class="mt-6">
      <h1 class="text-4xl font-bold text-indigo-main">{t('main.title')}</h1>
      <p class="my-4 text-gray-main">{t('main.description')}</p>
    </div>
    <div class="mt-6">
      <h2 class="mb-4 text-3xl font-bold text-blue-main">
        {t('secondary.recomended')}
      </h2>
    </div>

    <Downloadcard
      bgActive="bg-gray-extralight"
      title="Reset Windows Update Tool - Portable"
      description="secondary.description.wureset"
      primaryLink="https://github.com/ManuelGil/Reset-Windows-Update-Tool/releases/download/v11.1.0/Portable.zip"
      secondaryLink="https://github.com/wureset-tools/wureset/releases"
      version="v11.1.0"
    />

    <div class="mt-6">
      <h2 class="text-3xl font-bold text-blue-main">{t('secondary.others')}</h2>
    </div>

    <Downloadcard
      title="Reset Windows Update Tool - Script"
      description="secondary.description.script-wureset"
      primaryLink="https://github.com/wureset-tools/script-wureset/archive/refs/tags/v10.5.5.zip"
      secondaryLink="https://github.com/wureset-tools/script-wureset/releases"
      version="v10.5.5"
      bgActive="bg-opacity-0"
    />
    <Downloadcard
      title="Reset Windows Update Tool - Lite"
      description="secondary.description.script-wureset-lite"
      primaryLink="https://github.com/wureset-tools/script-wureset-lite/archive/refs/tags/v1.0.0.zip"
      secondaryLink="https://github.com/wureset-tools/script-wureset-lite/archive/refs/tags/v1.0.0.zip"
      version="v1.0.0"
      bgActive="bg-opacity-0"
    />

    <Downloadcard
      title="Reset WSUS Client ID"
      description="secondary.description.reset-wsus-client-id"
      primaryLink=" https://github.com/wureset-tools/reset-wsus-client-id/archive/refs/tags/v1.0.2.zip"
      secondaryLink="https://github.com/wureset-tools/script-wureset-lite/archive/refs/tags/v1.0.0.zip"
      version="v1.0.2"
      bgActive="bg-opacity-0"
    />
  </main>
</Layout>
