---
import Head from '@/components/Head.astro';
import Navbar from '@/components/Navbar.astro';
import Scripts from '@/components/Scripts.astro';
import Footer from '@/components/Footer.astro';
import { HeadHrefLangs } from 'astro-i18next/components';
import i18next from 'i18next';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta name="generator" content={Astro.generator} />
    <Head />
    <HeadHrefLangs />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <Scripts />
  </body>
</html>
